@import "/src/App/styles/index";

.controls {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    justify-content: center;
}

.button {
    padding: 20px 40px;
    border-radius: 6px;
    font-weight: 600;
}

.link {
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: 600;
    color: #000;
}